.title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 1rem;
  padding: 0 0 2rem;
  text-align: center;
  text-decoration: underline #ed553b;
}

.names {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem 2rem;
  margin: 0 2rem;
}

.current_player {
  background-color: #00f;
  color: #fff;
}

.align {
  vertical-align: middle;
}

.center {
  margin: 0 auto;
}

.square {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 10rem;
  width: 10rem;
}

.empty:hover {
  background-color: #ed553b;
}

.bottom {
  border-bottom: 0.2rem solid black;
}

.right {
  border-right: 0.2rem solid black;
}

#winner {
  color: #a9a9a9;
  display: none;
  font-family: 'VT323', monospace;
  font-size: 10rem;
  font-weight: 900;
  left: 20rem;
  letter-spacing: 1rem;
  position: absolute;
  text-align: center;
  top: 10rem;
}

#reset {
  font-size: 1.3rem;
  font-weight: 900;
  padding: 0.8rem 1.5rem;
  margin: 0 4rem;
  background-color: #00f;
  color: #fff;
  box-shadow: 0.2rem 0.2rem gray;
}

#reset:hover {
  background-color: #21729f;
}

#reset:active {
  background-color: #00f;
  box-shadow: 0 0 0.2rem 0.2rem gray;
}
